.center{
float:center ;
margin-top: 90px;
margin-left: 40rem;
}
.center1 {
  margin-top: 1rem;
  font-size: medium;
    margin-left: 40rem;
    font-weight: 900;
}
/* .size{
margin-left: 1rem;
width: auto;

} */

/* .decision{
  width: auto;

} */

html{

background-color: url()linear gradient;

}